.dockerignore
.git/
.gradle/
.idea/
*.iml
out/
tmp/
local.properties
**/node_modules

# Allow pre-built jar to be copied into the image when building locally
!build/libs/pptbuilder.jar
.gradle/
.git/
*.iml
.idea/
out/
tmp/
local.properties
**/node_modules
