# Ignore Gradle project-specific cache directory
.gradle
.idea/gradle.xml

# Ignore Gradle build output directory
build
bin

# Ignore IntelliJ directory
.idea/.name
.idea/pptbuilder.git.iml

# Ignore VSCode-related files
.classpath
.project
.settings/**
