# Ignore Gradle project-specific cache directory
.gradle
.idea/gradle.xml

# Ignore Gradle build output directory
build
bin

# Ignore IntelliJ directory
.idea/misc.xml
.idea/modules.xml
.idea/.name
.idea/pptbuilder.git.iml
.idea/**/codeStyleCOnfig.xml
.idea/**/Project.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Ignore VSCode-related files
.classpath
.project
.settings/**
.vscode/**
